.accueil {
	z-index: 4;
	position: relative;
	/*background-image: url("./background.jpg");*/
	/*background-repeat: no-repeat;*/
	height: 100%;
    width: 100%;
}

.image {
    position: absolute;
    width: 100%;
}
.parent {
    position: relative;
  }

.centre {
    display: flex;
    min-height: 90vh;
    border-radius: 3px;
}

.texte {
    margin: auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    width: 50%;
    position: relative; 
    font-size: 150%;
}

.texte h1, h3{
    font-family: "montserrat-medium", sans-serif;
    text-transform: uppercase;
}

.texte h1{
    font-size: 300%;
}

.texte h3 {
    font-size: 130%;
}

.texte q{
    font-family: Chalkduster, fantasy;
    font-style: italic;
}