html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.row {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

