body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.divCanvas {
    top: 0;
    position:fixed;
	z-index: 1;
	opacity: 2;
}

.divVid {
    height: 100vh;
	background: transparent;
	z-index: 4;
	position: relative;
}


#footer
{
	margin: 0 auto;
	width: 100vw;
	height: 50% ;
	text-align: center;
	border: 1px solid orangered;
	z-index: 4;
	position: relative;
	background-color: greenyellow;

}
