Navbar {
    background-color: transparent
}

.topnav li a{
    float: left;
    color: grey;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
}

 
