#banner {
    /*background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%, rgb(9, 3, 95) 50%);*/
    background-image: linear-gradient( #000000, #0F056B);
    position: relative;
    width: 100%;
    height: 950px;
    z-index: 5;
  }
  
  #cloud-scroll {
    background: url(http://9a2e1a2047765d2a004e-e6d2db425d8d4f2619e5cee56a48bcef.r55.cf2.rackcdn.com/clouds.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    -webkit-animation: 900000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 900000s backgroundScroll infinite linear;
  }
  
  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }
  
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }

.paragraphe2 {
    top: 200px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	z-index: 4;
	position: relative;
}

q {
    font-style: italic;
}

.conteneur {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 15.6rem;
    position: relative;
    overflow: hidden;
}

.conteneur h1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 6.3rem;
    line-height: 1.333;
    margin-top: 0;
    color: #FFFFFF;
}













