.paragraphe {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	z-index: 4;
    position: relative;
    border-radius: 3%;
    color: white;
    font-family: Optima, sans-serif;
    font-size: 150%;
}

.paragraphe h1 {
    font-size: 300%;
    font-family: Trattatello, fantasy;
    text-transform: uppercase;
}

.paragraphe h1::first-letter {
    color: cornflowerblue;
    font-size: 130%;
}

.paragraphe h3 {
    font-size: 200%;
    text-transform: uppercase;
    font-family: Optima, sans-serif;
    text-align: center;
}

.paragraphe h4 {
    font-size: 130%;
    text-transform: uppercase;
    font-family: Optima, sans-serif;
    text-align: center;
}

.justify{
    padding-left: 50px;
    padding-right: 50px;
   text-align: justify;
}

li{
    list-style: none;
}